.main-container{
	display: flex;
}

.side-nav{
	position: fixed;
	// background-image: linear-gradient(to left bottom, rgb(56, 58, 59), rgba(57, 55, 55, 0.9));
	background-color: #181a1b;
	flex: 0 0 16.5%;
	display: flex;
	justify-content: space-between;
 	flex-direction: column;
 	height: 100%;
 	overflow-y: auto;
}
.main-content{
	flex: 1;
}
.hidden{
	display: none;
}